<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>baidu.repo</id>
      <username>UserName</username>
      <password>Password</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>baidu.repo</id>
      <activation>
        <activeByDefault>true</activeByDefault>
        <jdk>1.6</jdk>
      </activation>
      <repositories>
        <repository>
          <id>baidu-nexus</id>
          <url>http://maven.scm.baidu.com:8081/nexus/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>baidu-nexus-snapshot</id>
          <url>http://maven.scm.baidu.com:8081/nexus/content/groups/public-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>Baidu_Local</id>
          <url>http://maven.scm.baidu.com:8081/nexus/content/repositories/Baidu_Local</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>Baidu_Local_Snapshots</id>
          <url>http://maven.scm.baidu.com:8081/nexus/content/repositories/Baidu_Local_Snapshots
          </url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>external</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>Maven2 Central Repository</name>
          <layout>default</layout>
          <url>http://repo1.maven.org/maven2</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>maven-snapshot-server</id>
          <name>Maven Snapshot Server</name>
          <url>
            http://snapshots.maven.codehaus.org/maven2/
          </url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>Codehaus MVN Plugin Snapshots</id>
          <url>http://snapshots.repository.codehaus.org</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </pluginRepository>
        <pluginRepository>
          <id>central</id>
          <name>Maven Repository Switchboard</name>
          <layout>default</layout>
          <url>http://repo1.maven.org/maven2</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>stat-scm-sourceforge</id>
          <url>http://stat-scm.sourceforge.net/maven2</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
  </pluginGroups>
  <!-- If you want to get depedencies from external servers, remove the annotation! -->
  <activeProfiles>
    <activeProfile>baidu.repo</activeProfile>
    <activeProfile>external</activeProfile>
  </activeProfiles>
  <mirrors>
    <mirror>
      <id>icafe-nexus-snapshots</id>
      <mirrorOf>snapshots</mirrorOf>
      <name>public snapshots</name>
      <url>http://maven.scm.baidu.com:8081/nexus/content/groups/public-snapshots</url>
    </mirror>
    <mirror>
      <id>icafe-nexus-public</id>
      <mirrorOf>*</mirrorOf>
      <name>public</name>
      <url>http://maven.scm.baidu.com:8081/nexus/content/groups/public</url>
    </mirror>
  </mirrors>
</settings>