<?xml version="1.0" encoding="UTF-8"?>
<settings
    xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>HOME/.m2/repository</localRepository>
    <servers>
        <server>
            <id>stella</id>
            <username>REPO_USER</username>
            <password>REPO_PASSWORD</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>alimaven</id>
            <name>aliyun maven</name>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>apache</id>
            <name>apache maven</name>
            <url>https://repo.maven.apache.org/maven2/</url>
            <mirrorOf>public</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>stella</id>
            <repositories>
                <repository>
                    <id>stella nexus</id>
                    <url>http://192.168.10.30:8081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>stella plugin</id> 
                    <name>stella plugin Repository</name> 
                    <url>http://192.168.10.30:8081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases> 
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>ali</id>
            <repositories>
                <repository>
                    <id>ali nexus</id>
                    <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>ali plugin</id> 
                    <name>ali plugin Repository</name> 
                    <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases> 
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>stella</activeProfile>
        <activeProfile>ali</activeProfile>
    </activeProfiles>
</settings>
